/* full screen bg setting */
@media screen and (max-width:427px) { .jumbotron1 { background:url(good_morning.JPG) center no-repeat;
    background-position: 50% 80%; /*height:px width:% */
    background-size: 300%;/*full cover img*/
    height: 550px;/*bg size heighe*/
    width: 100%;} /*bg size width*/
}
@media screen and (min-width:428px) and (max-width:519px) { .jumbotron1 { background:url(good_morning.JPG) center no-repeat;
    background-position: -180px -90px; /*height:px width:% */
    background-size: 200%;/*full cover img*/
    height: 550px;/*bg size heighe*/
    width: 100%;} /*bg size width*/
}
@media screen and (min-width:520px) { .jumbotron1 { background:url(good_morning.JPG) center no-repeat;
    background-position: 0% 65%; /*height:px width:% */
    background-size: cover;/*full cover img*/
    height: 550px;/*bg size heighe*/
    width: 100%;} /*bg size width*/
}

/* My CSS */
.retro { font-family: 'VT323', monospace;}
.top_gb_height { width: 100%; height: 85vh;}

.mybg_color_gradient1 { background:linear-gradient(90deg, #FE089B, #14EFFF);}
.mybg_color_gradient2 { background:linear-gradient(120deg, dimgray, white);}
.mybg_color_darkgray { background-color: dimgray;}
.github_color { color: gray;}
.facebook_color {color: dodgerblue;}
.instagram_color {display: inline-block;
                  background-clip: content-box;
                  background: -webkit-linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;

}
/*DQ like*/
.textboard {width: 35%;
            height: auto;
            margin: 5 auto;
            color: #FFF;
            border: 2px solid #000;
            border-radius: 5px;
            box-shadow: 0 0 0 4px #FFF inset;
            background-color: rgba(0,0,0,0.9);}

.navbar-arrange {color: #FFF;
                border: 2px solid #000;
                border-radius: 5px;
                box-shadow: 0 0 0 4px #FFF inset;
                background-color: rgba(0,0,0,0.9);}

.dropdown-menu {color: #FFF;
                border: 2px solid #000;
                border-radius: 5px;
                box-shadow: 0 0 0 4px #FFF inset;
                background-color: rgba(0,0,0,0.9);}
