
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comming soon</title>
</head>
<body style="height: 100vh; margin: 0; padding: 0; background: rgb(212,53,53);
background: -moz-radial-gradient(circle, rgba(212,53,53,1) 0%, rgba(240,234,18,1) 25%, rgba(83,178,158,1) 50%, rgba(124,111,242,1) 75%, rgba(255,122,212,1) 100%);
background: -webkit-radial-gradient(circle, rgba(212,53,53,1) 0%, rgba(240,234,18,1) 25%, rgba(83,178,158,1) 50%, rgba(124,111,242,1) 75%, rgba(255,122,212,1) 100%);
background: radial-gradient(circle, rgba(212,53,53,1) 0%, rgba(240,234,18,1) 25%, rgba(83,178,158,1) 50%, rgba(124,111,242,1) 75%, rgba(255,122,212,1) 100%); display: flex; justify-content: center; align-content: center;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1 id="message" style="margin: 0;"></h1>
    </div>
    <script src="Comming_soon.js"></script>
</body>
</html>